.menu{
    display: flex;
    justify-content: space-between;
    background-color:#000000;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: #ffffff;
}
body{
    margin: 0px;
    /* modify background color here*/
    background-color:#000000;
    
}
.bodyimg p{
    color:#f7f2f2;
    font-size: 55px;
    font-family: fantasy;
    position: absolute;
    top:10%;
    left:50%;
    transform: translate(-50%,-50%);
}


.grid{
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    font-family: sans-serif;
    background-color: #008080;
    
    
}
.grid img{
    border: 2px solid #000000;
    border-radius: 50px;
    background-color: #ffffff;
}
.origami {
    
    border-radius: 20px;
    background-color: #ffffff;
    padding: 30px;
    margin: 25px;
    width:310px;
    font-family: fantasy;
    
}
